<!DOCTYPE html>
<html>

<head>
  <title>Xhibit</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="./css/common.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script defer src="./js/main.js"></script>
</head>

<body>
  <div class="navbar">
    <div class="navbar-logo">
      <a href="main.html">
        <img src="../../public/images/logo2.png" />
      </a>
    </div>
    <div class="navbar-menu">
      <a href="">서비스소개</a>
      <a href="signIn.html">로그아웃</a>
      <a href="myPage.html">마이페이지</a>
    </div>
  </div>
  <!-- End Navbar -->
  <!-- Portfolio-Text -->
  <div class="container">
    <div class="main-title">
      <p class="title">당신의 창의력을 세상과 공유하세요</p>
      <p class="content">
        crafters에서 세계 각국의 창작자들이 선보이는 멋진 포트폴리오를
        만나보세요. <br />당신의 창작 영감이 폭발할 거에요!
      </p>
    </div>
    <div class="user_card-list"></div>
  </div>
</body>

</html>