<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Kaku+Gothic+New&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/common.css" />
    <title>Others Portfolio</title>
  </head>

  <body>
    <div class="navbar">
      <div class="navbar-logo">
        <a href="main.html">
          <img src="../../public/images/logo2.png" />
        </a>
      </div>
      <div class="navbar-menu">
        <a href="">서비스소개</a>
        <a href="signIn.html">로그인</a>
        <a href="signUp.html">회원가입</a>
        <a href="myPage.html">마이페이지</a>
      </div>
    </div>
    <h2>내 포트폴리오</h2>
    <div class="portfolio">
      <div class="my-card">
        <div class="my-card-header">
          <img
            src="../../public/images/img-profile01.png"
            alt="profile_img"
            class="profile_img"
          />
          <div class="my-card-intro">
            <p class="card-name">김철수</p>
            <p class="card-email">test@test.com</p>
          </div>
        </div>

        <div class="my-card-content">
          안녕하세요! 프론트엔드 개발자를 지망하는 김철수라고 합니다!
          <button class="modified-button">수정</button>
        </div>
      </div>

      <div class="portfolio-info">
        <div class="resume-content"></div>
      </div>
    </div>
    
    <script src="./js/otherspage.js"></script>
  </body>
</html>
