<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link href="./css/common.css" rel="stylesheet" type="text/css" />
    <!-- 눈모양 아이콘 -->
    <script
      src="https://kit.fontawesome.com/f08d84d06d.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="./js/signup.js"></script>
  </head>

  <body>
    <header>
      <!-- navbar -->
      <div class="navbar">
        <div class="navbar-logo">
          <img src="../../public/images/logo2.png" />
        </div>
        <div class="navbar-menu">
          <a href="">서비스소개</a>
          <a href="signIn.html">로그인</a>
          <a href="signUp.html">회원가입</a>
          <a href="myPage.html">마이페이지</a>
        </div>
      </div>
      <!-- register form -->
      <div class="sign-container">
        <div class="logo-div">
          <img class="logo" src="../../public/images/logo2.png" />
        </div>
        <div class="form-container">
          <span class="form-title">회원가입</span>
          <form>
            <br />
            <div class="form-group">
              <input
                type="text"
                id="name"
                name="name"
                class="form-control-input"
                placeholder="이름"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="email"
                id="email"
                name="email"
                class="form-control-input"
                placeholder="이메일"
                required
              />
            </div>

            <div class="form-group">
              <input
                type="password"
                id="password"
                name="password"
                class="form-control-input password"
                placeholder="비밀번호"
                required
              />
              <i class="password-eye fa-solid fa-eye"></i>
            </div>
            <div class="strongPassword-message hide">
              8글자 이상, 영문, 숫자, 특수문자(@$!%*#?&)를 사용하세요
            </div>

            <div class="form-group">
              <input
                type="password"
                id="password-retype"
                name="password-retype"
                class="form-control-input password-check"
                placeholder="비밀번호확인"
                required
              />
              <i class="password-check-eye fa-solid fa-eye"></i>
            </div>
            <div class="mismatch-message hide">
              비밀번호가 일치하지 않습니다.
            </div>

            <div class="form-group">
              <button type="submit" class="form-control-submit-button" disabled>
                <img src="../../public/images/shape.png" />
                회원가입
              </button>
            </div>
          </form>
        </div>
      </div>
    </header>
  </body>
</html>
