<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <script src="./js/footer.js"></script>
    <script src="./js/navbar.js"></script>
    <link href="./css/common.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="./css/mobile.css" />
  </head>
  <body>
    <div id = "wrap">
      <!-- login form -->
      <div class="sign-container">
        <div class="logo-div">
          <img class="logo" src="/images/welcome.png" />
        </div>
        <div class="welcome">
          <p class="title">회원가입이 완료되었습니다!</p>
          <div class="content">
            <p><img src="/images/logo3.png" alt="" />에서</p>
            <p>여러 사람의 포트폴리오를 만나보세요!</p>
          </div>
          <a href="/signin">
            <button type="button" class="welcome-btn">
              <p>로그인하러 가기</p>
              <img src="/images/arrow.png" />
            </button>
          </a>
        </div>
      </div>
    </div id = "wrap">
  </body>
</html>
